html body{
	margin:0;
	padding:0;
}

//Main Container
.container{
	display:flex;
	flex:1;
	min-height:100vh;
	min-width:100vw;
	flex-direction:column;
}

//The bottom HStack on Imagehover

//Dummy styles for dummy div
.dummyDiv{
	align-self:end;
	width:inherit;
	margin:auto;
	background:transparent;
	visibility:hidden;
}

@media screen and (max-width: 480px) {
.avatarImg	
   {
    width:100vw;
    height:120vh;
    aspect-ratio:2/2.5;
  }

.aspect{
	height:80vh;
	width:90vw;
	aspect-ratio:1/5;
}
.center{
	margin-top:5vh;
}
.text{
	margin-top:5vh;
}
.flexBox{
	width:90vw;
}
.buttons{
	margin-left:auto;
}
}
