html body{
	margin:0;
	padding:0;
}

//Main Container
.container{
	display:flex;
	flex:1;
	min-height:100vh;
	min-width:100vw;
	flex-direction:column;
}

//The bottom HStack on Imagehover

//Dummy styles for dummy div
.dummyDiv{
	align-self:end;
	width:inherit;
	margin:auto;
	background:transparent;
	visibility:hidden;
}
